.App {
  text-align: center;
}

.students-list, .groups-list, .student-profile {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.student, .group {
  width: 20rem;
  background-color: midnightblue;
  margin: 0.5rem;
  border-radius: 2rem;
  padding-bottom: 2rem;
}

.student:hover, .group:hover {
  background-color: rgb(35, 35, 122);
}

.tags, .subjects, .members {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 1rem;
  list-style-type: none;
  gap: 0.5rem 0;
}

.tag, .subject, .member {
  margin: auto;
  padding: 2% 4%;
  border-radius: 1rem;
  background-color: darkslateblue;
}

.navButton {
  margin: 0 1rem;
  font-size: larger;
  background-color: #333;
  color: cornflowerblue;
  border-radius: 0.3rem;
  border-color: cornflowerblue;
}

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formElement {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: start;
  width: 15rem;
}

.inputBox {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  background-color: #333;
  font-size: larger;
  color: rgb(100, 237, 149);
  border-radius: 0.3rem;
  border-color: rgb(100, 237, 149);
  max-width: fit-content;
}

.formButton {
  background-color: #333;
  color: rgb(237, 149, 100);
  border-radius: 0.3rem;
  border-color: rgb(237, 149, 100);
  max-width: fit-content;
}

.susModal {
  display: none;
  text-align: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.susModal-active {
  display: block;
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 10%;
}

.sus {
  max-width: 100%;
}

.modal {
  display: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-active {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  animation-name: modal-active;
  animation-duration: 3000ms;
}

.modal-active > * {
  background-color: rgb(20, 157, 69);
  padding: 1rem 10rem;
  width: fit-content;
  border-radius: 10rem;
}

@keyframes modal-active {
  0% {
    transform: translateY(200px);
  }
}

.none {
  display: contents;
  appearance: inherit;
  color: white;
}

.none:hover {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}