.App {
  text-align: center;
}

.students-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.student {
  width: 20rem;
  background-color: midnightblue;
  margin: 0.5rem;
  border-radius: 2rem;
  padding-bottom: 2rem;
}

.tags {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 1rem;
  list-style-type: none;
}

.tag {
  margin: auto;
  padding: 2% 4%;
  border-radius: 1rem;
  background-color: darkslateblue;
}

.subjects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 1rem;
}

.subject {
  margin: auto;
  padding: 2% 4%;
  border-radius: 1rem;
  background-color: darkslateblue;
}